@use 'sass:math';
@import 'variables';
@import 'media';


$width-Button: 50px;
$height-Button: 50px;

$height-Span: 5px;

$top: 50%;
$top-Difference: 35%;

.burger-menu {
    width: $width-Button;
    height: $height-Button;
    position: relative;

    background-color: $color-button-transparent;
    border: $border-0;

    &__span:first-child {
        top: $top + $top-Difference;
        
    }
    &__span:last-child {
        top: $top - $top-Difference;
    }

    &__span {
        content: '';
        position: absolute;
        top: $top;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: $width-Button;
        height: $height-Span;
        background-color: var(--color-black);
        border-radius: $border-radius-20;
        transition: all 300ms;
    }

    &__span_close-45:nth-child(2n) {
        scale: 0;
    }
    &__span_close-45:first-child {
        $top-Difference: 0%;
        top: $top + $top-Difference;
        left: 0;
        transform: rotate(45deg);
    }
    &__span_close-45:last-child {
        $top-Difference: 0%;
        top: $top - $top-Difference;
        left: 0;
        transform: rotate(-45deg);
    }

}
