@use 'sass:math';
@import 'variables';
@import 'media';


$width-Button: 50px;
$height-Button: 50px;

$height-Span: 5px;

$top: 50%;
$top-Difference: 35%;

.burger-menu {
    width: $width-Button;
    height: $height-Button;
    position: relative;

    background-color: $color-button-transparent;
    border: $border-0;

    &__span {
        content: '';
        position: absolute;
        top: $top;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: $width-Button;
        height: $height-Span;
        background-color: $color-black;
        border-radius: $border-radius-20;
    }

    &__span:first-child {
        top: $top + $top-Difference;
    }
    &__span:last-child {
        top: $top - $top-Difference;
    }
    
}
