
@import 'variables';

.form {
    text-align: center;

    &__title {
        @include fluid-text($font-size-25, $font-size-20);
    }

    &__name-input, &__email-input, &__message-textarea {
        padding: 10px;
        outline: none;
        color: var(--color-black);
        background-color: var(--color-white);
        border: 2px solid var(--color-black);
        @include fluid-text(20, 8);
        user-select: none;
        transition: all 300ms;
    }

    &__name-input:focus, &__email-input:focus, &__message-textarea:focus {
        box-shadow: inset 0px 0px 7px 0px var(--color-blue-dark);
        border-color: var(--color-blue-dark);
    }

    &__name-input::placeholder, &__email-input::placeholder, &__message-textarea::placeholder {
        color: $color-light-grey-static;
    }

    &__message-textarea {
        resize: none;
        height: 300px;

        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--color-blue-dark);
            cursor: default;
            border-radius: $border-radius-20;
        }
        &::-webkit-scrollbar-track{
            background-color: $color-light-grey-static;
            cursor: default;
            border-radius: $border-radius-20;
        }
    }

    &__button {
        margin: 0 auto;
        padding: 10px 15px;
        background-color: var(--color-blue-dark);
        color: $color-white-static;
        border: $border-0;
        @include fluid-text(20, 16);
        font-weight: 800;
        transition: all 300ms;
    }

    &__button:hover{
        background-color: $color-red-static;
        @include media-tablet-768 {
            background-color: var(--color-blue-dark);
        }
    }
    
    &__button:active{
        background-color: $color-red-static;
        scale: 0.75;
    }
}
