@import 'mixins';
@import 'media';

$max-Width-For-Show-Burger-Menu: 858px;

.header {

    &__inner {
        // border: 1px solid green;
        max-width: 1400px;
        margin: auto;
    }

    &__wrapper{
        margin: $margin-y-24 $margin-x-24;
        padding: 0 $padding-x-24;
        // max-width: 1400px;
        height: 100px;
        background-color: $color-blue;
        border-radius: $border-radius-20;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        // margin-left: $margin-x-24;
        &-name {
            font-weight: 500;
        }
    }
    &__buttons {
        @include media-tablet-768 {
            // @include show()
        }
    }


    &__list {
        display: flex;

        &-item:not(:last-child) {
            // margin-right: $margin-x-48;
            @include fluid-margin-right(48, 8);

            // @include media-tablet-768 {
            //     margin: 0 0 $margin-x-24 0
            // }
            @include media($max-Width-For-Show-Burger-Menu) {
                margin: 0 0 $margin-x-24 0
            }
        }
        &-item {
            @include fluid-text($font-size-16, $font-size-16);
            // font-size: $font-size-56;
            position: relative;
            
            &-a:active {
                // @include media-tablet-768 {
                    color: $color-blue-dark;
                    // font-size: 800;
                    // font-weight: bold;
                // }
            }
            &-a::after {
                content: '';
                position: absolute;
                bottom: 0;
                display: inline-block;
                height: 2px;
                width: 0;
                background-color: $color-blue-dark;
                transition: all 400ms;
            }
            &-a:hover::after {
                width: 100%;
                @include media-desctop-1024 {
                    width: 0;
                }
            }


        }

        // @include media-tablet-768 {
        @include media($max-Width-For-Show-Burger-Menu) {
            @include hidden();
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            text-align: center;
            z-index: 100;
        }

    }

    &__switch{
        // @include media-tablet-768 {
        @include media($max-Width-For-Show-Burger-Menu) {
            @include hidden();
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            text-align: center;
            z-index: 100;
        }
    }

    &__switch-and-burger{
        // height: 100%;
    }

    &__burger {
        line-height: 1;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 100;
        // @include media-tablet-768 {
        @include media($max-Width-For-Show-Burger-Menu) {
            position: relative;
            visibility: visible;
            opacity: 1;
        }

        &-button{
            // height: 100%;
            // position: absolute;
            // left: 0;
            // top: 50%;
            // transform: translate(-50%, -50%);
        }

    }
    
    &__burger-modal-window{
        // @include hidden();
        // @include media-tablet-768 {
        @include media($max-Width-For-Show-Burger-Menu) {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1.0;
            width: 100vw;
            height: 1000vh;
            background-color: $color-blue;
            z-index: 50;
            // overflow: hidden;
        }
    }
    
}
