@import 'variables';

$width-phone-360: 360px;
$width-tablet-480: 480px;
$width-tablet-768: 768px;
$width-desctop-1024: 1024px; 
// $width-desctop: 1280px; 
$width-desctop-1280: 1280px; 


@mixin media-phone-360 {
    @media (max-width: $width-phone-360) {
        @content;
    }
}
@mixin media-phone-480 {
    @media (max-width: $width-tablet-480) {
        @content;
    }
}
@mixin media-tablet-768 {
    @media (max-width: $width-tablet-768) {
        @content;
    }
}

@mixin media-desctop-1024 {
    @media (max-width: $width-desctop-1024) {
        @content;
    }
}
@mixin media-desctop-1280 {
    @media (max-width: $width-desctop-1280) {
        @content;
    }
}
@mixin media($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin media-min-width($min-width) {
    @media (min-width: $min-width) {
        @content;
    }
}

@mixin hover() {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }
    @if(max-width: $width-tablet-768) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
    
}
