@import 'variables';
@import 'mixins';

.switch {

    &__original {
        position: absolute;
        transform: scale(0);
        opacity: 0;
        left: 0;
        top: 0;
    }
    
    $switch-Width: 165px;
    $switch-Height: 37.5px;

    &__custom {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        position: relative;
        @include fluid-text($font-size-16, $font-size-16);
        // font-size: $font-size-16;
        padding: $padding-switch;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: rgb(127, 144, 215);
        $different-Color: 40;
        $opacity-Custom: 0.7;
        border: 1px solid var(--color-black);
        border-radius: $border-radius-20;
        width: $switch-Width;
        height: $switch-Height;
        transition: all 600ms;
    }

    &__custom::after{
        position: absolute;
        left: -1px;
        background-color: var(--color-black);
        content: '';
        width: calc($switch-Width/2);
        // height: calc($switch-Height/1.2);
        height: $switch-Height;
        border-radius: $border-radius-20;
        transition: all 600ms;
    }

    &__original:checked + &__custom::after {
        left: calc($switch-Width/2) - 1px;
        transition: all 600ms;
    }

    // @include media-tablet-768 {
    //     width: 0;
    //     opacity: 0;
    //     scale: 0;
    //     visibility: hidden;
    // }

}
