
$font-size-8: 8;
$font-size-16: 16;
$font-size-20: 20;
$font-size-25: 25;
$font-size-56: 56;

// $min-width: 360;
// $max-width: 1400;


$color-white-static: white;
$color-red-static: red;
$color-shadow-icon-static: #222;
$color-light-grey-static: #ccc;

$color-button-transparent: transparent;

$border-0: 0;
$border-radius-20: 20px;

$gap: 24px;

$padding-x-15: 15px;
$padding-y-5: 5px;
$padding-switch: $padding-y-5 $padding-x-15;

$padding-x-24: 24px;

$margin-x-24: 24px;
$margin-x-48: 48px;

$margin-y-24: 24px;


:root {
    --color-white: white;
    --color-black: black;
    --color-blue: #7F90D7;
    --color-blue-dark: blue;
    --color-header-scrolling: rgba(174, 174, 174, 0.5);
    --value-header-box-shadow: 0px 5px 15px 0px var(--color-black);
    --url-arrow: url(../img/arrow-left-black.png);
}


.dark-theme {
    --color-white: black;
    --color-black: white;
    --color-blue: #3f3f3f;
    --color-blue-dark: orange;
    --color-header-scrolling: rgba(62, 62, 62, 0.5);
    --value-header-box-shadow: 0px 1px 10px 0px var(--color-black);
    --url-arrow: url(../img/arrow-left-white.png);
}
