
$font-size-16: 16;
$font-size-20: 20;
$font-size-25: 25;
$font-size-56: 56;

// $min-width: 360;
// $max-width: 1400;
$color-white-static: white;

$color-shadow-icon: #222;

$color-white: white;
$color-black: black;
$color-blue: #7F90D7;
$color-blue-dark: blue;
$color-red: red;


$color-button-transparent: transparent;
$color-button-text: white;

$border-0: 0;

$border-radius-20: 20px;

$gap: 24px;


$padding-x-15: 15px;
$padding-y-5: 5px;
$padding-switch: $padding-y-5 $padding-x-15;

$padding-x-24: 24px;

$margin-x-24: 24px;
$margin-x-48: 48px;

$margin-y-24: 24px;

