@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: clamp(1rem, 0.8052884615rem + 0.8653846154vw, 1.5625rem);
  font-weight: 300;
  padding: 0;
  background-color: white;
  border: 1px solid red;
}

a {
  text-decoration: none;
  color: black;
}

.show {
  opacity: 1;
  scale: 1;
  visibility: visible;
}

.header__inner {
  border: 1px solid green;
  max-width: 1400px;
  margin: auto;
}
.header__wrapper {
  margin: 24px 24px;
  padding: 0 24px;
  max-width: 1400px;
  height: 100px;
  background-color: #7F90D7;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-name {
  font-weight: 500;
}
.header__list {
  display: flex;
}
.header__list-item:not(:last-child) {
  margin-right: clamp(0.5rem, -0.3653846154rem + 3.8461538462vw, 3rem);
}
@media (max-width: 768px) {
  .header__list-item:not(:last-child) {
    margin: 0 0 24px 0;
  }
}
.header__list-item {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  position: relative;
}
.header__list-item-a::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 2px;
  width: 0;
  background-color: blue;
  transition: all 400ms;
}
.header__list-item-a:hover::after {
  width: 100%;
}
@media (max-width: 768px) {
  .header__list {
    opacity: 0;
    scale: 0;
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    z-index: 100;
  }
}
@media (max-width: 768px) {
  .header__switch {
    opacity: 0;
    scale: 0;
    visibility: hidden;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    z-index: 100;
  }
}
.header__burger {
  line-height: 1;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
@media (max-width: 768px) {
  .header__burger {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .header__burger-modal-window {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1.6;
    width: 100vw;
    height: 100vh;
    background-color: red;
  }
}

.switch__original {
  position: absolute;
  transform: scale(0);
  opacity: 0;
  left: 0;
  top: 0;
}
.switch__custom {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 10px 10px 15px 0px #586597, inset -10px -10px 10px 0px #9caef7;
  border-radius: 20px;
  width: 175px;
  height: 40px;
}
.switch__custom::after {
  position: absolute;
  left: 4px;
  background-color: #7F90D7;
  border: 1px solid white;
  content: "";
  width: 87.5px;
  height: 33.3333333333px;
  border-radius: 20px;
  transition: all 300ms;
}
.switch__original:checked + .switch__custom::after {
  left: 83.5px;
}

.burger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: transparent;
  border: 0;
}
.burger-menu__span:first-child {
  top: 85%;
}
.burger-menu__span:last-child {
  top: 15%;
}
.burger-menu__span {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: black;
  border-radius: 20px;
  transition: all 300ms;
}
.burger-menu__span_close-45:nth-child(2n) {
  scale: 0;
}
.burger-menu__span_close-45:first-child {
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}
.burger-menu__span_close-45:last-child {
  top: 50%;
  left: 0;
  transform: rotate(-45deg);
}

.hidden {
  opacity: 0;
  scale: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  scale: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */