@import 'font';
@import 'variables';
@import 'mixins';

*{
    box-sizing: border-box;
}

body{
    font-family: 'Gilroy', sans-serif;
    // font-size: $font-size-25;
    @include fluid-text($font-size-25, $font-size-16);
    font-weight: 300;
    padding: 0;
    background-color: $color-white;
    border: 1px solid red;
    

    // overflow: hidden;
}





a{
    text-decoration: none;
    color: black;
}

// .show{
//     opacity: 1;
//     scale: 1;
//     visibility: visible;
// }


@import 'header';
@import 'switch';
@import 'burder-menu';
@import 'form';

@import 'sticky-scrolling';
@import 'main';



.body_overflow-hidden {
    @include media($max-Width-For-Show-Burger-Menu) {
        overflow: hidden;
        background-color: $color-blue;
    }
}

.hidden{
    opacity: 0;
    scale: 0;
    visibility: hidden;
}
// .position-absolute{
//     @include media-tablet-768 {
//         position: absolute;
//         top: 0;
//         left: 0;
//     }
    
// }
.show{
    opacity: 1;
    scale: 1;
    visibility: visible;
}