@import 'variables';
@import 'font';

@import 'mixins';

*{
    box-sizing: border-box;
}



body{
    font-family: 'Gilroy', sans-serif;
    @include fluid-text($font-size-25, $font-size-16);
    font-weight: 300;
    padding: 0;
    background-color: var(--color-white);
    color: var(--color-black);
    border-bottom: 1px solid var(--color-white);
    transition: all 600ms;
}


a{
    text-decoration: none;
    color: var(--color-black);
}

@import 'header';
@import 'switch';
@import 'burder-menu';
@import 'form';

@import 'sticky-scrolling';
@import 'main';


.body_overflow-hidden {
    @include media($max-Width-For-Show-Burger-Menu) {
        overflow: hidden;
        background-color: var(--color-blue);
    }
}

.hidden{
    opacity: 0;
    scale: 0;
    visibility: hidden;
}

.show{
    opacity: 1;
    scale: 1;
    visibility: visible;
}

.position-absolute {
    position: absolute;
    top: 0;
    left: 0;
}